USE [master]
GO
/****** Object:  Database [anlocphat]    Script Date: 4/1/2024 6:55:39 AM ******/
CREATE DATABASE [anlocphat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'anlocphat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\anlocphat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'anlocphat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\anlocphat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [anlocphat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [anlocphat]
GO
/****** Object:  Table [dbo].[groupItems]    Script Date: 4/1/2024 6:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupItems](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[idGroupItem] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 4/1/2024 6:55:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [uniqueidentifier] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[idGroupItem] [uniqueidentifier] NULL,
	[idTypeItem] [int] NULL,
	[idBrandItem] [uniqueidentifier] NULL,
	[idLocation] [uniqueidentifier] NULL,
	[minimumInventory] [int] NULL,
	[maximumInventory] [int] NULL,
	[price] [numeric](10, 2) NULL,
	[inventory] [int] NULL,
	[weight] [int] NULL,
	[weightType] [int] NULL,
	[sizeWidth] [int] NULL,
	[sizeLength] [int] NULL,
	[sizeType] [int] NULL,
	[defaultUnit] [nvarchar](50) NULL,
	[describeItem] [nvarchar](max) NULL,
	[noteItem] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[groupItems] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((0)) FOR [minimumInventory]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ((999999999)) FOR [maximumInventory]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ('') FOR [defaultUnit]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ('') FOR [describeItem]
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT ('') FOR [noteItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'mã' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nhóm hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'idGroupItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại hàng
    1 - Hàng hóa thường
    2 - Hàng hóa - sản xuất
    3 - Dịch vụ
    4 - Combo - Đóng gói' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'idTypeItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thương hiệu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'idBrandItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vị trí hàng hóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'idLocation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Định mức tồn ít nhất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'minimumInventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Định mức tồn nhiều nhất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'maximumInventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tồn kho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'inventory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trọng lượng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'weight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại trọng lượng
1 - gram
2- kg' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'weightType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kích thước: chiều rộng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'sizeWidth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kích thước: chiều rộng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'sizeLength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại thước
1 - mm
2 - cm
3 - m' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'sizeType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị tính cơ bản' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'defaultUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'describeItem'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mẫu ghi chú' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'items', @level2type=N'COLUMN',@level2name=N'noteItem'
GO
USE [master]
GO
